.topbanner{
background-color:green;
color:white;
}

.button1{
	width:200px;
	height:50px;
}


.button1:hover{
	padding: 10px 24px;
	background-color: green;
	color: white;
}

.button{
  display: block;
}

.container{
	background-color:lightblue;
	float:right;
	height:200ps;
	width:600px;
}
.center{
	float:center;
	height:200ps;
	width:600px;
}